{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{ title }}</title>

    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" href="{% static 'favicons/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/favicon-192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon-180x180.png' %} ">

    <link rel="stylesheet" id="css-main" href="{% static 'css/dashmix.min.css' %}">
    <link rel="stylesheet" id="css-main" href="{% static 'css/TableStyle.css' %}">

</head>
<body>
<div id="page-container"
     class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
    <nav id="sidebar" aria-label="Main Navigation">
        <div class="bg-header-dark">
            <div class="content-header bg-white-5">
                <a class="fw-semibold text-white tracking-wide" href="#">
              <span class="smini-hidden">
                Les<span class="opacity-75">sons</span>
              </span>
                </a>
                <div>
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
                            data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on"
                            onclick="Dashmix.layout('sidebar_style_toggle');Dashmix.layout('header_style_toggle');">
                        <i class="fa fa-toggle-off" id="sidebar-style-toggler"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
                            data-target="#dark-mode-toggler" data-class="far fa"
                            onclick="Dashmix.layout('dark_mode_toggle');">
                        <i class="far fa-moon" id="dark-mode-toggler"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout"
                            data-action="sidebar_close">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="js-sidebar-scroll">
            <div class="content-side">
                <ul class="nav-main">

                    <!-- School SideBar Begin -->

                    <li class="nav-main-heading">Classes</li>
                    {% for clas in classesSchool %}
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                               aria-expanded="false" href="#">
                                <span class="nav-main-link-name">{{ clas.name }}</span>
                            </a>
                            <ul class="nav-main-submenu">
                                {% for name, science in SciencesSchoolwithNamesClasses %}
                                    {% if clas.name == name %}
                                        <li class="nav-main-item">
                                            <a class="nav-main-link" href="?science={{ science }}">
                                                <span class="nav-main-link-name">{{ science }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}


                    <!-- School SideBar End -->
                    <!-- Uni SideBar Begin -->

                    <li class="nav-main-heading">Courses</li>
                    {% for course in coursesSchool %}
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                               aria-expanded="false" href="#">
                                <span class="nav-main-link-name">{{ course.name }}</span>
                            </a>
                            <ul class="nav-main-submenu">
                                {% for course_name, science in SciencesUniwithNamesCourses %}
                                    {% if course.name == course_name %}
                                        <li class="nav-main-item">
                                            <a class="nav-main-link" href="?course={{ science }}">
                                                <span class="nav-main-link-name">{{ science }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                    <!-- Uni SideBar End -->

                </ul>
            </div>
        </div>
    </nav>
    <header id="page-header">
        <div class="content-header">
            <div class="space-x-1">
                <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="sidebar_toggle">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
                <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="header_search_on">
                    <i class="fa fa-fw opacity-50 fa-search"></i> <span
                        class="ms-1 d-none d-sm-inline-block">Search</span>
                </button>
            </div>
        </div>
        <div id="page-header-search" class="overlay-header bg-header-dark">
            <div class="bg-white-10">
                <div class="content-header">
                    <form class="w-100" action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <button type="button" class="btn btn-alt-primary" data-toggle="layout"
                                    data-action="header_search_off">
                                <i class="fa fa-fw fa-times-circle"></i>
                            </button>
                            <input type="text" class="form-control border-0" placeholder="Search or hit ESC.."
                                   id="page-header-search-input" name="page-header-search-input"
                                   value="{{ search_query }}">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div id="page-header-loader" class="overlay-header bg-header-dark">
            <div class="bg-white-10">
                <div class="content-header">
                    <div class="w-100 text-center">
                        <i class="fa fa-fw fa-sun fa-spin text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main-container">
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">
                        <a href="{% url 'index' %}" style="text-decoration: none; color: inherit;">All Lessons</a>
                    </h1>


                    <!-- <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">Hour</li>
                        <li class="breadcrumb-item active" aria-current="page">File</li>
                      </ol>
                    </nav> -->

                </div>
            </div>
        </div>

        <!-- Table Section -->

        <div class="table-container" style="margin-top: 50px">
            <h3 style="margin: 25px">
                Classes Lessons
            </h3>
            <table>
                <thead>
                <tr>
                    <th style="width: 5%;">T/r</th>
                    <th style="width: 40%;">Mavzu Nomi</th>
                    <th style="width: 30%;">Soati</th>
                    <th style="width: 25%;">PDF</th>
                </tr>
                </thead>
                <tbody>
                {% for lesson in Lessonschool %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lesson.lessonName }}</td>
                        <td>{{ lesson.time }}</td>
                        <td>
    {% if lesson.pdfFile %}
        <a href="{% url 'download_pdf' lesson.id %}" target="_blank" download>{{ lesson.name }}.pdf</a>
    {% else %}
        Fayl mavjud emas
    {% endif %}
</td>

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Hech qanday dars topilmadi</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="table-container" style="margin-top: 50px">
            <h3 style="margin: 25px">
                Courses Lessons
            </h3>
            <table>
                <thead>
                <tr>
                    <th style="width: 5%;">T/r</th>
                    <th style="width: 40%;">Mavzu Nomi</th>
                    <th style="width: 30%;">Soati</th>
                    <th style="width: 25%;">PDF</th>
                </tr>
                </thead>
                <tbody>
                {% if Lessonsuni %}
                    {% for lesson in Lessonsuni %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ lesson.name }}</td>
                            <td>{{ lesson.time }}</td>
                            <td>
    {% if lesson.pdfFile %}
        <a href="{% url 'download_pdf' lesson.id %}" target="_blank" download>{{ lesson.name }}.pdf</a>
    {% else %}
        Fayl mavjud emas
    {% endif %}
</td>

                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Hech qanday dars topilmadi</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Hech qanday dars topilmadi</td>
                    </tr>
                {% endif %}
                </tbody>

            </table>

        </div>


    </main>
    <footer id="page-footer" class="bg-body-light">
        <div class="content py-0">
            <div class="row fs-sm">
                <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
                    Crafted with <i class="fa fa-heart text-danger"></i> by <a class="fw-semibold"
                                                                               href="https://telegram.me/StackOverFlow2024"
                                                                               target="_blank">coderdiyorjon</a>
                </div>
                <div class="col-sm-6 order-sm-1 text-center text-sm-start">
                    <a class="fw-semibold" href="https://student.jbnuu.uz" target="_blank">Lessons List</a> &copy; <span
                        data-toggle="year-copy"></span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'js/dashmix.app.min.js' %}"></script>

</body>
</html>